{% load menu_tags %}
<div class="container_12">
	<div class="grid_4" id="login_info">
		<ul class"inline" id="login">
			<li>You are currently&nbsp;</li>
			{% if user.is_authenticated %}
			<li>
				logged in as
				{% if user.get_full_name %}
                {{ user.get_full_name }} 
            {% else %}
                {{ user.email }}
            {% endif %} 
			. &nbsp;
			</li>
			<li><a href="{% url dashboard %}">Admin&nbsp;</a></li>
         <li><a href="{% url log-out %}">Log out</a></li>
			{% else %}
			<li>
				not logged in. <a href="{% url log-in %}">Log in</a> now
			</li>
			{% endif %}
		</ul>
	</div>
	<div class="clear"></div>
	<div id="header">
		<div class="grid_4" id="logo"><h1><a href="{% url home %}">{{ SITE_INFO_TITLE }}</a></h1>
      <h4>{{ SITE_INFO_DESC }}</h4></div>
		<div class="grid_8">
			<ul id="nav">
				{% get_menu_items main_menu as menu_item_list %}
				{% for item in menu_item_list %}
				<li><a href="{{item.url}}" {% is_active request item.url %} > {{ item.title }} </a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<div class="clear"></div>