{% extends "pixelcms/admin/base.html" %}

{% block title %}{{ title }}{% endblock %}
{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="/tiny_mce/tiny_mce.js"></script>
<script type="text/javascript">
tinyMCE.init({
mode: "textareas",
theme: "simple"
});
</script>
{% endblock %}
{% block content %}
<h2>{{ title }}</h2>
<form action="" method="post">
    {% csrf_token %}
    <table>
        {{ form }}
        <tr>
            <th></th><td><input type="submit" value="Save" /></td>
        </tr>
    </table>
</form>
{% endblock %}
