{% extends "pixelcms/admin/dashboard.html" %}

{% block manage %}
	<h3>New Menu</h3>
		<ul class="inline">
	    <li><a class="button" href="{% url add-menu %}" title="New menu">Menu</a></li>
		</ul>
		<div class="clear"></div>
		<h3>All Menus&nbsp; { {{ menu_list|length }} }</h3>
	
	<ul>
		{% for menu in menu_list %}
		{% if forloop.first %}
	    <li class="first">
	    {% else %}
	        {% if forloop.last %}
	        <li class="last">
	        {% else %}
	        <li>
	        {% endif %}
	    {% endif %}
		<span class="title">
			<a href="{% url edit-menu menu.id%}" title="Edit {{menu.title}} menu">{{menu.title}}</a>
		</span>
		<div class="edit-box">
			<a class="button" href="{% url edit-menu menu.id %}" title="Edit {{menu.title}} menu">Edit</a>
			<a class="button" href="{% url manage-menu-item menu.id %}" title="Edit Item in {{menu.title}} menu">Edit Menu Items</a>
			<form action="{% url delete-menu %}" method="post">
		        {% csrf_token %}
		        <input type="hidden" value="{{ menu.id }}" name="menu_id" />
		        <input type="submit" value="Delete" class="button button-primary" />
		    </form>
		</div>
		</li>
		{% endfor %}
	</ul>
	
	
{% endblock %}