{% load menu_tags %}
{% load settings_tags %}
<div id="top_border">
<div class="container_12">
		<div class="grid_6" id="login_info">
			<ul class="inline">
				<li>You are currently&nbsp;</li>
				{% if user.is_authenticated %}
				<li>
					logged in as<strong>
					{% if user.get_full_name %}
	                {{ user.get_full_name }} 
	            {% else %}
	                {{ user.email }}
	            {% endif %}</strong>
				. &nbsp;
				</li>
				<li><a href="{% url home %}">Visit site&nbsp;</a></li>
	         <li><a href="{% url log-out %}">Log out</a></li>
				{% else %}
				<li>
					not logged in. <a href="{% url log-in %}">Log in</a> now
				</li>
				{% endif %}
			</ul>
		</div>
</div>
</div>
<div class="clear"></div>
<div class="container_12">

		<div id="header">
			<div class="grid_4" id="logo">
				<h1><a href="{% url home %}">{% site_title %}</a></h1>
	      	<h4>Site Administration</h4>
			</div>
			<div class="grid_8">
				<ul id="nav">
					<li><a {% is_active request "/admin/" %} href="{% url dashboard %}">Dashboard</a></li>
					<li><a {% is_active request "/admin/blog/" %} href="{% url manage-entry %}">Posts</a></li>
				   <li><a {% is_active request "/admin/page/" %} href="{% url manage-page %}">Pages</a></li>
					<li><a {% is_active request "/admin/menu/" %} href="{% url manage-menu %}">Menus</a></li>
					<li><a {% is_active request "/admin/settings/" %} href="{% url manage-general-settings %}">Settings</a></li>
				</ul>
			</div>
		</div>
</div>
<div class="clear"></div>