{% extends "pixelcms/admin/default/dashboard.html" %}

{% block manage %}
	<h3>New Menu Item</h3>
		<ul class="inline">
	    <li><a class="button" href="{% url add-menu-item menu.id %}" title="New menu item">Menu Item</a></li>
		</ul>
		<div class="clear"></div>
		<h3>All Menus Items&nbsp; { {{ menu_item_list|length }} }</h3>
	
	<ul>
		{% for menu_item in menu_item_list %}
		{% if forloop.first %}
	    <li class="first">
	    {% else %}
	        {% if forloop.last %}
	        <li class="last">
	        {% else %}
	        <li>
	        {% endif %}
	    {% endif %}
		<span class="title">
			<a href="{% url edit-menu-item menu_item.id%}" title="Edit {{menu_item.title}} menu">{{menu_item.title}}</a>
		</span>
		<div class="edit-box">
			<a class="button" href="{% url edit-menu-item menu_item.id %}" title="Edit {{menu_item.title}} menu">Edit</a>
			<form action="{% url delete-menu-item %}" method="post">
		        {% csrf_token %}
				  <input type="hidden" value="{{ menu.id }}" name="menu_id" />
		        <input type="hidden" value="{{ menu_item.id }}" name="menu_item_id" />
		        <input type="submit" value="Delete" class="button button-primary" />
		    </form>
		</div>
		</li>
		{% endfor %}
	</ul>
	
	
{% endblock %}