@import url(reset.css);
@import url(pygments.css);
@import url(960.css);
@import url(text.css);

/*
 * Front End Looks
 */

body { font-size: 100%; font-size: 0.875em; line-height: 21px; background: url('../images/bg.png') 0 0 repeat-x #fff; font-family: Helvetica, Verdana;text-align: center;}

#login_info{float:right; font-size: 0.8em; color: #ddd; margin-top: 5px;}
	#login_info ul#login{float:right; display:inline;}
	#login_info ul#login li{float:left;}
#header{margin-top: 0px; text-align: left;}
	#logo{float: left;}
		#logo h1 a{color: #000;}
		#logo h4 {color: #000;}
	#header ul#nav{float:right;}
		#header ul#nav li{ list-style-type: none; float: left; margin-right: 15px; margin-top: 5px;}
		#header ul#nav li a{padding-bottom: 5px;}
		#header ul#nav li a.current{ border-bottom: 3px solid #000;}

#container { padding: 20px 15px;text-align: left; margin: 0 auto; }
	.entry { position: relative; }

#footer { background: #333;color: #fff;margin-top: 234px;clear: both;}
	#footer .login{ float: left; }
	#footer .footer_content{ color: #777; padding: 50px 0px;}

/*
 * Back End Looks
 */
body.admin{text-align: left;background: url('../images/bg_red.jpg') 0 0 repeat-x #fff;}
	body.admin #login_info{float:right; font-size: 0.8em; color: #ddd; margin-top: 5px;}
		body.admin #login_info ul#login{float:right; display:inline;}
		body.admin #login_info ul#login li{float:left;}
		body.admin #login_info ul#login li a{color: #ffc868;}
		body.admin #login_info ul#login li:hover a{text-decoration: underline;}

	body.admin #header{margin-top: 0px; text-align: left;}
		body.admin #logo{float: left;}
			body.admin #logo h1 a{color: #fff;}
			body.admin #logo h4 {color: #fff;}
			
	body.admin #header ul#nav{float:left;}
		body.admin #header ul#nav li{ float: left;margin-right: 2px;background: url('../images/right-tab-red.gif') no-repeat 100% 0px;font-size: 1.1em;}
		body.admin #header ul#nav li a{ float: left;display: block; height: 1.4em; padding: 0.19em 1.5em 0.1em 1.4em; letter-spacing: -0.03em;background: url('../images/left-tab-red.gif') no-repeat 0% 0px;color: #ffe681;text-decoration: none;overflow: hidden;  border: none;}
		body.admin #header ul#nav li.current{ background-position: 100% -150px;}
		body.admin #header ul#nav li.current a{ background-position: 0% -150px; color: #5a5a5a;}
		body.admin #header ul#nav li:hover{ background-position: 100% -150px;}
		body.admin #header ul#nav li:hover a{ background-position: 0% -150px; color: #5a5a5a;}
		
	body.admin #sidebar {margin: -1px;padding-bottom: 25px;font-size: 1.1em;line-height: 1.5em;background: #f2f2f2; border: 1px solid #d8d8d8;}
	body.admin #sidebar h2 { font-size: 1.5em; font-weight: bold; padding: 10px 100px 15px 20px;background: #e2e2e2 url('../images/h2-bg.png') repeat-y 0 0; border-bottom: 1px solid #d8d8d8;}
	body.admin #sidebar p { padding: 20px;}
	body.admin #sidebar ul {margin-left: 25px;}
	body.admin #sidebar li {background: url('../images/li.gif') no-repeat 0 50%;padding-left: 10px;line-height: 1.7em; list-style-type: none;}

	body.admin #footer { background: #333;color: #fff;margin-top: 163px;clear: both;}
		body.admin #footer .login{ float: left; }
		body.admin #footer .footer_content{ color: #777; padding: 50px 0px;}

/*
 *
 * Forms & Tables
 *
 */

form table { position: relative; }
form { display: inline; white-space: nowrap;}
select { font-size: 14px;}
input[type=text], input[type=password], textarea { border: 2px solid #eee; padding: 3px; width: 500px; font-size: 14px;}
input.unsized { width: auto; }
input[type=text]:focus, input[type=password]:focus, textarea:focus { border: 2px solid #B6B7AB;}
.errorlist li { list-style-type: none; }
.errorlist { color: #c00; padding: 5px 5px 3px 5px; margin: 0; margin-bottom: 0.3em; border: 2px solid #c00; font-size: 12px; line-height: 16px; font-weight: bold; border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px; }
a.mbl-button, input[type=submit], input[type=button] { background: url('../images/white-grad.png') 0 0 repeat-x #9b9b9b; border: 1px solid #858585; text-shadow: 0px 0px 2px #888; color: #fff !important; text-decoration: none;
    font-weight: bold; font-size: 12px; padding: 3px 9px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; box-shadow: 0px 0px 4px #666; -moz-box-shadow: 0px 0px 4px #666; -webkit-box-shadow: 0px 0px 4px #666; outline: none; white-space: nowrap;
    cursor: pointer;line-height: 16px; }
input[type=submit], input[type=button] { padding: 2px 10px; }
a.mbl-button:hover, input[type=button]:hover {
    background: url('../images/white-grad-strong.png') 0 0 repeat-x #9b9b9b;
}
a.mbl-button-primary, input[type=submit] { background-color: #545454;border: 1px solid #404040;border-bottom: 1px solid #333; text-shadow: 0px 0px 2px #555;}
a.mbl-button-primary:hover, input[type=submit]:hover { background: url('../images/white-grad-strong.png') 0 0 repeat-x #545454; }

/*
* Decorations
*/
.hr-styled { clear: both; height: 60px; margin: 0; background: url('../images/separator.png') center 26px no-repeat;}
li > ul { margin-left: 20px;}
.inline li { display: inline;list-style-type: none;}
.inline-tag-list li {display: inline;padding: 0 7px 5px 0;}
a.tag {background: transparent url('../images/tag_right.png') no-repeat right top;color: #fff;cursor: pointer;display: block;float: left;font-size: 12px;height: 19px;padding: 0 2px 0 0;text-decoration: none;vertical-align: middle; text-shadow: 0px 0px 2px #333;}
a.tag:hover {background-position: right bottom;}
a.tag span { background: transparent url('../images/tag_left.png') no-repeat left top;display: block;float: left;height: 15px;line-height: 15px;padding: 1px 7px 3px 19px;vertical-align: top;white-space: nowrap;}
a.tag:hover span {background-position: left bottom;}
.pagination {text-align: center;clear: both;}
.pagination a, .pagination span.disabled {font-weight: bold;font-size: 12px;padding: 4px 5px 2px 5px;border: 1px solid #666;border-radius: 5px; -moz-border-radius: 5px;-webkit-border-radius: 5px;margin-right: 5px;}
.pagination span.disabled {color: #ccc;border-color: #ccc;}
.pagination a:hover {border-color: #999;}

/* Ugly IE fix */
* html .pagehead { margin: -15px 0 0 0; }
.content {width: 600px;margin-left: 320px;overflow: visible;}
table tbody tr td {padding: 0 0 0.6em 0;}
table tbody tr th {text-align: right;padding: 0 10px 0.6em 0;width: 100px;font-size: 12px;vertical-align: top;line-height: 28px;color: #777;font-weight: normal;}
.post-info {clear: both;margin: 0;position: relative;}
.post-info ul {margin: 0.4em 0 0;}
.post-info ul li {float: left;margin: 0;}
.edit-box { clear: both;top: 0px;right: 0px;white-space: nowrap;float: right;}
li .edit-box {top: 6px;right: 0px;background: #fff;padding-left: 5px;z-index: 100;}
.float-right {float: right;}