@import url(reset.css);
@import url(pygments.css);
@import url(960.css);
@import url(text.css);

/*
 * Front End Looks
 */

body { }
	#login_info{float:right;}
	ul.inline {display: inline;}
	ul.inline li{list-style-type: none; float: left;}
	
	
